<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="conexionProduccion" connectionString="Server=10.20.20.89; Database=HostToHost; User ID=USR_HOST; Password=4srH05t;" />
    <add name="conexionDesarrollo" connectionString="Server=10.2.10.33; Database=HostToHost; uid=app_nosap; pwd=nosap_app;" />
  </connectionStrings>
  <appSettings>
    <add key="CARPETA_BITACORA" value="D:\HTH\BITACORA\" />
    <add key="CARPETA_ORIGEN" value="D:\HTH\IN-HTH-SCOTIABANK\" />
    <add key="CARPETA_CORRECTO" value="D:\HTH\CORRECTO\" />
    <add key="CARPETA_INCORRECTO" value="D:\HTH\INCORRECTO\" />
    <add key="CARPETA_ENCRIPTADO" value="D:\HTH\ENCRIPTADO\" />
    <add key="CARPETA_DESCARGADO" value="D:\HTH\DESCARGADO\" />
    <add key="CARPETA_PROCESADO" value="D:\HTH\PROCESADO\" />
    <add key="CARPETA_RESPALDO" value="D:\HTH\PEN-HTH-SCOTIABANK\" />

    <add key="SERVIDOR_SFTP_IP" value="190.116.5.24" />
    <add key="SERVIDOR_SFTP_PUERTO" value="22" />
    <add key="SERVIDOR_SFTP_USUARIO" value="usftp596" />
    <add key="SERVIDOR_SFTP_CLAVE" value="uH4xq1aFBJ" />
    <add key="SERVIDOR_SFTP_CARPETA_OUT" value="/nfshomedesa/usftp596/OUT/" />

    <add key="sapName" value="QAS" />
    <add key="sapAppServerHost" value="10.2.20.254" />
    <add key="sapSystemNum" value="1" />
    <add key="sapSystemId" value="10" />
    <add key="sapUserName" value="USRCPIC" />
    <add key="sapPassword" value="sapsap01" />
    <add key="sapClient" value="10" />
    <add key="sapLanguage" value="ES" />
    <add key="sapPoolSize" value="10" />
  </appSettings>
</configuration>