<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="conexionProduccion" connectionString="Server=10.20.20.89; Database=HostToHost; User ID=USR_HOST; Password=4srH05t;" />
    <add name="conexionDesarrollo" connectionString="Server=10.2.10.33; Database=HostToHost; uid=app_nosap; pwd=nosap_app;" />
  </connectionStrings>
  <appSettings>
    <add key="CARPETA_BITACORA" value="D:\HTH\BITACORA\" />
    <add key="CARPETA_ORIGEN" value="D:\HTH\IN-HTH-SCOTIABANK\" />
    <add key="CARPETA_CORRECTO" value="D:\HTH\CORRECTO\" />
    <add key="CARPETA_INCORRECTO" value="D:\HTH\INCORRECTO\" />
    <add key="CARPETA_ENCRIPTADO" value="D:\HTH\ENCRIPTADO\" />
    <add key="CARPETA_DESENCRIPTADO" value="D:\HTH\DESENCRIPTADO\" />
  </appSettings>
</configuration>